<% if @articles.count > 0 %>
    <%= render 'articles/main_article', article: @articles.first %>
<% else%>
    <div class="jumbotron">
        <div class="container">
            <h2>There is no article right now!</h2>
        </div>
    </div>
<%end%>

<div class="container">
    <% if @articles.count > 1 %>
        <div class="row">
            <% @articles.slice(1, @articles.count).each do |article| %>
                    <%= render 'articles/last_articles', article: article %>
            <%end%>
        </div>
    <%end%>
</div>